.App {
  background: url(./image/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  min-height: 100vh;
}
.overlay{
  background: rgba(0, 0, 0, .5);
  height: 100vh;
  width: 100%;
}
body{
  box-sizing: border-box;
}

